@import url(variables.css);

#contenedor{
    background-color: var(--gray-on);
}

#encabezado{
    background-color: var(--dark-gray);
    height: 20vh;
    align-content: center;
}

.form-col{
    display: flex;
    flex-direction: column;
}