* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    background: rgb(0, 73, 128);
    overflow: auto;
    justify-content: flex-end;
}

li,
a {
    padding: 5px;
    display: inline-flex;
    color: white;
    list-style: none;
    text-decoration: none;
}

li:hover {
    background: rgba(255, 255, 255, 0.481);
    border-radius: 5px;
}


.content {
    background: rgb(1, 78, 95);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.nav-left {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.nav-right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    flex-wrap: wrap;


}

.bs {
    padding: 20px;
    border-radius: 10px;
}

.bs:hover {
    background: rgba(255, 255, 255, 0.385);
}